apiVersion: v1
baseDomain: {{ baseDomain }}
compute:
- hyperthreading: Enabled
  name: worker
  replicas: 0
controlPlane:
  hyperthreading: Enabled
  name: master
  replicas: {{ master_replicas }}
metadata:
  name: {{ cluster_name }}
platform:
  vsphere:
    vcenter: {{ vsphere_host }}
    username: {{ vsphere_user }}
    password: {{ vsphere_pass }}
    datacenter: {{ vsphere_dc }}
    defaultDatastore: vsphere_defaultDatastore
pullSecret: '{{ pullSecret }}'
sshKey: '{{ sshKey }}'
